<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Dashboard</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>

    <style>


        .active-b{
            background-color: rgba(0,100,0,0.7);
            color: white;
        }

        .sidebar {
          width: 250px;
          height: calc(100vh - 50px);
          position: fixed;
          left: 0;
          background-color: white;
          padding: 20px;
          border-radius: 20px;
        }
        .content {
          margin-left: 250px;
        }
    </style>
</head>
<body>

<nav class=" animate__animated animate__backInDown navbar-dark  navbar  navbar-expand-lg"
     style="background-color: rgba(0, 30, 0, 0.5);">

    <div class="collapse navbar-collapse" id="navbarText">
        <video muted
               style=" margin: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
            <source th:src="@{/videos/home.mp4}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <a href="#">
            <img th:src="@{images/logo.png}" style="border-radius: 20px; width: 100px; height: 55px; margin: 10px;"
                 alt="Logo"/>
        </a>
        <ul class="navbar-nav" style="margin: left;">
            <li class="nav-item">

            </li>
            <li class="nav-item"><a class="nav-link" href="/admin-home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/market">Market</a></li>
            <li class="nav-item"><a class="nav-link" href="/research">Research</a></li>
            <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
        </ul>
    </div>
    <a class="btn btn-danger me-2" style="width: 150px;" href="/login">logout</a>

</nav>
<div class="d-flex">
    <nav class="sidebar">
        <h4 style="margin-left: 5px"><span th:text="${loggedInUser.firstName}"></span> <span
                th:text="${loggedInUser.LastName}"></span></h4>
        <p style="margin: 5px;color: grey;" th:text="${loggedInUser.emailAddress}"></p>
        <p style="margin: 5px; color: grey;" th:text="${loggedInUser.role}"></p>
        <ul class="navbar-nav flex-column mb-aut mt-2">
            <li class="nav-item active-b mb-3 "
                style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); padding-left: 20px ; border-radius: 10px;">

                <a class="nav-link" th:href="@{/admin-dashboard}">
                    <img th:src="@{/images/dashboard.png}" alt="Icon" width="24px" height="24px"
                         style="padding-bottom: 3px; margin-right: 20px"/>Dashboard
                </a></li>

            <li class="nav-item mb-3"
                style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); padding-left: 20px ; border-radius: 10px;"><a
                    class="nav-link" href="#">
                <img th:src="@{/images/crop.png}" alt="Icon" width="24px" height="24px"
                     style="padding-bottom: 3px;margin-right: 20px"/>
                Farms
            </a></li>

            <li class="nav-item mb-3"
                style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); padding-left: 20px ; border-radius: 10px; "><a
                    class="nav-link" href="#">
                <img th:src="@{/images/outbreaks.png}" alt="Icon" width="20px" height="20px"
                     style="padding-bottom: 3px; margin-right: 20px"/>
                Outbreaks
            </a></li>

            <li class="nav-item mb-3"
                style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); padding-left: 20px ; border-radius: 10px;"><a
                    class="nav-link" href="#">
                <img th:src="@{/images/remedy.png}" alt="Icon" width="24px" height="24px"
                     style="padding-bottom: 3px; margin-right: 20px;"/>
                Remedies
            </a></li>

            <li class="nav-item mb-3"
                style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); padding-left: 20px ; border-radius: 10px;"><a
                    class="nav-link" href="#">
                <img th:src="@{/images/tips.png}" alt="Icon" width="24px" height="24px"
                     style="padding-bottom: 3px; margin-right: 20px;"/>
                Nokthula AI
            </a></li>

            <li class="nav-item mb-3"
                style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); padding-left: 20px ; border-radius: 10px;"><a
                    class="nav-link" href="#">
                <img th:src="@{/images/users.png}" alt="Icon" width="24px" height="24px"
                     style="padding-bottom: 3px; margin-right: 20px;"/>
                Waw Users
            </a></li>

            <li class="nav-item mb-3"
                style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); padding-left: 20px ; border-radius: 10px;"><a
                    class="nav-link" href="#">
                <img th:src="@{/images/profile.png}" alt="Icon" width="24px" height="24px" style="padding-bottom: 3px; margin-right: 20px;" />
                My Profile
            </a></li>

        </ul>
    </nav>
</div>


<div class="content p-2 ">
    <!-- Your main content here -->
    <h1>Admin Dashboard!</h1>
    <p>This is your main content area.</p>
</div>


<footer style="height: 40px; background-color: rgba(0, 30, 0, 0.7);
 display: flex;
 position: absolute;
 width: 100%;
 bottom: 0;
  justify-content: center;
  align-items: center;">
    <p style="color: white;margin-top: 20px;">&copy; waw organics 2025</p>
</footer>
</body>

</html>