<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waw.org</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>

</head>

<body style="background-color: rgba(0, 30, 0, 0.5);">



<nav class=" animate__animated animate__backInDown navbar-dark  navbar  navbar-expand-lg" style="background-color: rgba(0, 30, 0, 0.5);"  >

    <div class="collapse navbar-collapse" id="navbarText">
        <a href="#">
            <img th:src="@{images/logo.png}" style="border-radius: 20px; width: 100px; height: 55px; margin: 10px;" alt="Logo"/>
        </a>
            <ul class="navbar-nav" style="margin: left;">
                <li  class="nav-item">

                </li>
                <li  class="nav-item"><a  class="nav-link active" href="/index">Home</a></li>
                <li  class="nav-item"><a  class="nav-link" href="/market">Market</a></li>
                <li  class="nav-item"><a  class="nav-link" href="/research">Research</a></li>
                <li  class="nav-item"><a  class="nav-link" href="/get-outbreaks">Outbreaks</a></li>
                <li  class="nav-item"><a  class="nav-link" href="/about-us">About</a></li>
                <li  class="nav-item"><a  class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
</nav>

<div class="jumbotron" style=" overflow: hidden; height: 400px;background-color: rgba(0, 30, 0, 0.5); /* Adjust height as needed */">
    <video autoplay muted loop style=" margin: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
        <source th:src="@{/videos/home.mp4}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div style="position: relative;height: 400px; z-index: 1; text-align: center; color: white; padding: 50px 0;">
        <br>
        <br>
        <h1  style="drop-shadow: -5px 5px rgba(0, 0, 0, 0.5);">Organic Farming, Remedies and Artificial Intelligence</h1>
        <p><a class="btn  btn-lg" style=" color:white;font:poppins; box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5); background-color: rgba(60,80,0, 0.8)" th:href="@{/get-started}">GET STARTED</a></p>
    </div>
</div>

<div style="background-color: white;padding: 50px;padding-top: 20px;box-shadow: 0px 0px 50px rgba(0, 0, 0 , 0.8)">
    <h1 style="color: rgba(0, 30, 0, 0.7);">Sustainable Farming</h1>
    <div class="row mt-1">
        <div class="col-md-6">
            <div class="image-container">
                <img th:src="@{/images/organic-farming.jpg}" alt="Image" class="img-responsive" style="width: 100%; height: auto;border-radius: 20px;">
            </div>
        </div>
        <div class="col-md-6">
            <a class="text-decoration-none" style="color: rgba(0, 30, 0, 0.7);" th:href="@{/documents/BIOPESTICIDES.pdf}">


            <div class="text-block">
                <h3  > BIOPESTICIDES: A SUSTAINABLE APPROACH FOR INSECT PEST MANAGEMENT</h3>
                <p>20 July 2022| Publish Date</p>
            </div>
            </a>
                <a class="text-decoration-none" style="color: rgba(0, 30, 0, 0.7);" th:href="@{/documents/Effect.pdf}"    >
            <div class="text-block">
                <h3  style="text-transform:uppercase;">A meta-analysis of the effect of organic and mineral fertilizers on soil microbial diversity</h3>
                <p>October 8, 2020 | Publish Date</p>
            </div>
                </a>
            <a class="text-decoration-none" style="color: rgba(0, 30, 0, 0.7);" th:href="@{/documents/Irenepaper.pdf}"    >

            <div class="text-block">
                <h3 style="text-transform:uppercase;">Impact of Organic Farming on soil fertility and crop productivity</h3>
                <p>© 2019 JETIR January 2019, Volume 6, Issue 1</p>
            </div>
            </a>

        </div>
    </div>
    <div class="row ">
        <a class="text-decoration-none " style="color: rgba(0, 30, 0, 0.7);" th:href="@{/documents/biologicalcontrol.pdf}"    >

            <div class="text-block">
                <h3  style="text-transform:uppercase;" >Biological control a sustainable approach for plant diseases management: A review</h3>
                <p>DEC 16, 2024 | PRESS RELEASES</p>
            </div>
        </a>
        <a class="text-decoration-none" style="color: rgba(0, 30, 0, 0.7);" th:href="@{/documents/horticulture.pdf}"    >

            <div class="text-block">
                <h3  style="text-transform:uppercase;" >
                    A Review on Biocontrol Agents as Sustainable Approach for Crop Disease Management: Applications, Production,
                    and Future Perspectives
                </h3><p>DEC 16, 2024 | PRESS RELEASES</p>
            </div>
        </a>
    </div>
</div>


<footer  style="height: 40px; background-color: rgba(0, 30, 0, 0.7);
 display: flex;
  justify-content: center;
  align-items: center;">
    <p style="color: white;margin-top: 20px;">&copy; waw organics 2025</p>
</footer>


</body>

</html>